{{books | json}}

Filtern nach:
<input type="text" [(ngModel)]="filterValue" />
<br />
<!-- {{filterValue}} -->
<br />
<br />
<button (click)="toggleCover()">Cover {{coverIsVisible ? "aus" : "ein"}}blenden</button>
<br />
@if(books.length===0) {
<p>Keine Bücher vorhanden!!!</p>
}
@else {
<table border="1">
  <tr>
    <td>ISBN</td>
    <td>Titel</td>
    <td>Preis</td>
    <td>Cover</td>
    <td>Rating</td>
    <td>aktion</td>
  </tr>
  @for (book of (books | bookFilter: filterValue); track book.isbn) {
  <tr>
    <td>{{$index+1}}: {{book.title}}</td>
    <td>{{book.isbn}}</td>
    <td>
      <span [ngClass]="{'on-discount': book.price < 10, 'no-discount': book.price > 15 }">
        {{book.price | currency: 'EUR':'symbol':'1.2-2'}}
      </span>
    </td>
    <td>
      @if (coverIsVisible) {
      <img [src]="book.coverUrl" [style.width.px]="breite">
      }
    </td>
    <td>
      <rating 
        [id]="book.isbn" 
        [rating]="book.rating"
        (notifyUp)="upRating($event)"
      ></rating>
    </td>
    <td>
      <button (click)="deleteBook(book.isbn)">Löschen</button>
  </tr>
  }
</table>
}